// Place all the styles related to the api/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-title {
  margin-top: 40px;
}

.edit-answer-btn {
  float: right;
}

.delete-answer-btn {
  float: right;
}

.exit-answer-edit {
  float: right;
}

.answer-votes-desc {
  display: flex;
}

.answer-desc {
  margin-left: 14px;
  margin-top: 10px;
}

.list-group-item {
  padding: 0 !important;
}