// Place all the styles related to the api/answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-title {
  margin-top: 40px;
}

.edit-answer-btn {
  float: right;
}

.delete-answer-btn {
  float: right;
}