.edit-answer-wrapper {
  margin: auto;
}

.edit-answer-title {
  text-align: center;
}

.desc-edit-answer {
  resize: none;
  width: 100%;
  height: 50%;
  border-radius: 4px;
  border:1px solid #ccc;
}