// Place all the styles related to the api/questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single-question-container {
  top: 50px;
  left: 225px;
  height: 90%;
  width: 60%;
  position: fixed;
  padding-top: 20px;
  overflow-y: auto;
  margin-left: 20px;
}

.title-ask-button {
  display: flex;
  border-bottom: 1px solid #DEDEDE;
}

.question-title {
  margin-top: 10px;
}

.edit-question-btn {
  float:right;
  margin-top: 5px;
}

.question-desc {
  margin-top: 10px;
  font-size: 15px;
}


.answer-component-div {
    border-top: 1px solid #DEDEDE;
}

.ask-question-single {
  margin-left: auto !important;
}

.exit-edit-question {
  float: right;
}

@media screen and (max-width: 600px) {
  .single-question-container {
    left: 0px;
    width: 100%;
  }
}