.up-arrow-outline {
  font-size: 45px;
}

.up-arrow-outline:hover {
  cursor: pointer;
}

.down-arrow-outline {
  font-size: 45px;
}

.down-arrow-outline:hover {
  cursor: pointer;
}

.voting-score {
  font-size: 25px;
  margin-bottom: 2px;
}

.total-user-votes {
  margin-bottom: 0;
  text-align: center;
}

.answer-voting {
  margin-top: 10px;
  text-align: center;
}

.votes-desc-flex {
  display: flex;
  margin: 10px 10px 10px 16px;
} 
