.up-arrow-outline {
  font-size: 45px;
}

.up-arrow-outline:hover {
  cursor: pointer;
}

.down-arrow-outline {
  font-size: 45px;
}

.down-arrow-outline:hover {
  cursor: pointer;
}

.voting-score {
  font-size: 25px;
  margin-bottom: 2px;
}