@font-face {
  font-family: "din-bold";
  src: url(./typeface/din_bold.ttf);
}

@font-face {
  font-family: "din-medium";
  src: url(./typeface/din_medium.ttf);
}

.splash-page-container {
  height: 1300px;
  position: relative;
  width: 100%;
}

.splash-page-top {
  height: 500px;
  width: 100%;
  position: absolute;
  background-color: #FFCF10;
  overflow: hidden;
  display: block;
}

#hero-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}


.splash-page-text {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.splash-page-title {
  font-family: din-bold;
  font-size: 50px;
}

.splash-page-p {
  font-size: 25px;
  font-family: din-medium;
}

.splash-title-block {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}

.splash-page-desc {
  top: 500px;
  width: 100%;
  height: 800px;
  position: absolute;
  background-color: whitesmoke;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  
}

.desc-top {
  width: 100%;
  height: 250px;
}

.desc-top-title {
  font-family: din-bold;
  font-size: 35px;
  padding: 35px 20px 10px 20px;
}

.bar-pill {
  height: 10px;
  background-color: orange;
  width: 150px;
  border-radius: 40px;
  margin: auto;
}

.desc-top-text {
  padding: 0px 30% 0px 30%;
}

.p-desc-top-text {
  font-family: din-medium;
  font-size: 18px;
  padding-top: 15px;
}


.desc-bottom {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
}

.desc-bottom-1 {
  height: 400px;
  width: 325px;
  align-self: flex-end;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
  
}

.desc-bottom-2 {
  height: 400px;
  width: 325px;
  margin: 0px 80px 0px 80px;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
}

.desc-bottom-3 {
  height: 400px;
  width: 325px;
  align-self: flex-end;
  border-radius: 5px;
  box-shadow: 5px 10px 20px #888888;
}

.jumbo-icon-1 {
  font-size: 120px;
  margin: 30px 20px 0px 20px;
}

.jumbo-icon {
  font-size: 100px;
  margin: 40px 20px 15px 20px;
}

.jumbo-text {
  font-family: din-medium;
  font-size: 18px;
  margin: 20px;
}



@media screen and (max-width: 700px) {
  .desc-top-text {
   padding: 0;
  }
}

@media screen and (max-width: 870px) {
  .splash-page-desc {
    overflow: hidden;
    height: 1700px;
  }

  .desc-bottom {
    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: block;
  }

  .desc-bottom-1, .desc-bottom-2, .desc-bottom-3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
  }
  
}

@media screen and (max-width: 1100px) {
  .splash-page-text {
    margin-top: 50px;
  }
}
