.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  
}