.sidebar {
  top: 50px;
  left: 0;
  height: 100%;
  width: 225px;
  position: fixed;
  border-right: 1px solid #DEDEDE;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-p {
  margin: 10px;
  font-size: 15px;
}



.side-item {
  padding-left: 30px !important;
  font-size: 13px !important;
}


.indent-side-item {
  padding-left: 45px !important;
  font-size: 13px !important;
}


@media screen and (max-width: 600px) {
  .sidebar {
    display: none !important;
  }
  
}